extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';

block loading
	include _templates/_layout/_loading
block banner,breadcrumb
block main
	include _templates/index/i-1
	.fp-container
		.fp-wrapper
			.fp-slide(fp-title="Title 1") Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus, eius reiciendis, illum exercitationem officia modi possimus, praesentium debitis expedita accusantium explicabo provident animi numquam molestiae rerum natus molestias facilis? 1
			.fp-slide(fp-title="Title 2")  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus, eius reiciendis, illum exercitationem officia modi possimus, praesentium debitis expedita accusantium explicabo provident animi numquam molestiae rerum natus molestias facilis? 2
			.fp-slide(fp-title="Title 3")  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus, eius reiciendis, illum exercitationem officia modi possimus, praesentium debitis expedita accusantium explicabo provident animi numquam molestiae rerum natus molestias facilis? 3
			.fp-slide(fp-title="Title 4")  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus, eius reiciendis, illum exercitationem officia modi possimus, praesentium debitis expedita accusantium explicabo provident animi numquam molestiae rerum natus molestias facilis? 4
			.fp-slide(fp-title="Title 5")  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus, eius reiciendis, illum exercitationem officia modi possimus, praesentium debitis expedita accusantium explicabo provident animi numquam molestiae rerum natus molestias facilis? 5
			.fp-slide(fp-title="Title 6")  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus, eius reiciendis, illum exercitationem officia modi possimus, praesentium debitis expedita accusantium explicabo provident animi numquam molestiae rerum natus molestias facilis? 6
			.fp-slide(fp-title="Title 7")  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus, eius reiciendis, illum exercitationem officia modi possimus, praesentium debitis expedita accusantium explicabo provident animi numquam molestiae rerum natus molestias facilis? 7
		.fp-buttons
			.fp-prev
			.fp-next
block scripts
